.HeaderContent{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
    min-height: 100vh;
    z-index: -1;
    background: linear-gradient(140deg,#f8f8ff,#f8f8ff 62%,#C04D40 62%,#C04D40 100%);
}
.HeaderContent .imageHeader{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    width: 50%;
}
.HeaderContent .imageHeader img{
    position: relative;
    width: 350px;
}
.HeaderContent .imageHeader svg{
    position: absolute;
    width: 580px;
    z-index: -1;
}
.HeaderContent .HeaderContainer{
    width: 50%;
    text-align: center;
}
.callActionButton{
    font-size: 1.5rem;
    padding: 15px 60px;
    background-color: #C04D40;
    color: #f8f8ff;
    font-family: Chomsky;
    border: none;
    border-radius: 15px;
}