.navMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 95%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 95%;
}
.navMenu .navMenuContainer{
    width: 100%;
}
.navMenu .navMenuContainer ul{
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.navMenu .navMenuContainer ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.navMenu .navMenuContainer ul li img{
    width: 100px;
}